// colors
$color_1: #060212;
$color_2: #8dbf20;
$color_3: #fff;
$color_4: #c2c1c1;

//font-size
$fs-title-default: 28px;
$fs-title-small: 22px;
$fs-text-default: 14px;
$fs-text-big: 16px;
$fs-text-small: 12px;
