@use 'variables';
@use 'header';
@use 'banners';
@use 'about-us';
@use 'courses';
@use 'signatures';

@mixin titles ($color, $size) {
    margin-bottom: 32px;
    color: $color;
    font-size: $size;
    font-weight: bold;
    text-transform: uppercase;

}

@mixin texts ($color, $size) {
    font-size: $size;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.title-default-dark {
    @include titles(variables.$color_1, variables.$fs-title-default);    
}

.title-default {
    @include titles(variables.$color_3, variables.$fs-title-default);
}

.text-default-dark {
    @include texts(variables.$color_1, variables.$fs-text-default);
}

.text-default {
    @include texts(variables.$color_4, variables.$fs-text-default);
}

.bg-dark-blue {
    background-color: variables.$color_1;
}

#nav-menu {
    justify-content: end;
}